# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
.venv/
venv/
env/

# PyInstaller (Artefakte, aber NICHT die .spec-Konfigurationsdatei)
dist/
build/

# IDE
.vscode/
.idea/

# Projektordner
input/*
output/*
!input/.gitkeep
!output/.gitkeep

# Installer Build-Artefakte
installer_output/
installer/dependencies/*.exe
